<div class="rut">
    <div class="section-1">
        <div class="div div-1">
            <h3>Products</h3>
            <p class="list">Auto</p>
            <p class="list">Home</p>
            <p class="list">Business</p>
            <p class="list">Employee Benefits</p>
            <p class="list">Mutual Funds</p>
        </div>
        <div class="div div-2">
            <h3>Company</h3>
            <p class="list">About Us</p>
            <p class="list">Careers</p>
            <p class="list">Agents and Producers</p>
            <p class="list">Newsroom</p>
            <p class="list">Investor Relations</p>
            <p class="list">Mobile App</p>
        </div>
        <div class="div div-3">
            <h3>Connect</h3>
            <p class="list">Contact Us</p>
            <p class="list">Report a Claim</p>
            <p class="list">Find an Agent</p>
            <p class="list">Small Business Playbook</p>
            <p class="list">Small Biz Ahead</p>
            <p class="list">Extra Mile</p>
        </div>
        <div class="div div-4">
            <h2>Access Your Account</h2>
            <p>View your policy, pay your bill, view claim status and more.</p>
            <div class="buttons">
            <button>Auto and Home Login</button><br>
            <button>Business Insurance Login</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="section-2">
        <div class="img-prog">
            <img src="logo.png" alt="">
        </div>
        <div class="social-media">
            <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" alt="">
            </div>
            <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/512/2175/2175193.png" alt="">
            </div>
            <div class="icon">
                <img src="https://freepngimg.com/thumb/logo/77364-instagram-icons-computer-black-logo-white-wine.png" alt="">
            </div>
            <div class="icon icon-x">
                <img src="https://www.svgrepo.com/show/353365/youtube-with-circle.svg" alt="">
            </div>
        </div>
    </div>
    <div class="section-3">
        <h5>© 2026 Angular Training</h5>
    </div>
</div>