############################################
# Node modules
############################################
node_modules/

############################################
# Angular build output
############################################
dist/
.angular/
tmp/
out-tsc/

############################################
# Logs
############################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################################
# Environment files (if sensitive)
############################################
src/environments/environment.local.ts
.env

############################################
# Editor folders
############################################
.vscode/
.idea/

############################################
# OS Files
############################################
.DS_Store
Thumbs.db
