<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
 <div class="container-fluid">
 <a class="navbar-brand" href="javascript:void(0)">Logo</a>
 <button
 class="navbar-toggler"
 type="button"
 data-bs-toggle="collapse"
 data-bs-target="#mynavbar"
 >
 <span class="navbar-toggler-icon"></span>
 </button>
 <div class="navbar-collapse" id="mynavbar">
 <ul class="navbar-nav me-auto">
 <li class="nav-item">
 <a class="nav-link" routerLink="add-emp">AddNew</a>
 </li>
 <li class="nav-item">
 <a class="nav-link" routerLink="edit-emp">Modify</a>
 </li>
 <li class="nav-item">
 <a class="nav-link" routerLink="delete-emp">DeleteEmp</a>
 </li>
 <li class="nav-item">
 <a class="nav-link" routerLink="list-emp"> AllEmps</a>
 </li>
 </ul>
 <form class="d-flex">
 <!-- <span class="text-white">LoggedUser</span> -->
<span class="text-white">Hello {{loggedUserData}}
</span>&nbsp;&nbsp;
 <button class="btn btn-primary"type="button" (click)="logOff()">LogOff</button>
  </form>
 </div>
 </div>
</nav>
<div class="container">
 <router-outlet></router-outlet>
</div>
