

.stat-card {
  background: white;
  color:#75013F;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
header{
    background-color: #75013F;
}
.insur{
    background-color: #75013F;
}
.butn{
    color:white;
    background-color: #75013F;
    border-radius:0.75rem;
}
.header-button{
    color:#75013F;
}
.stat-card h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.input {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
}

.input:focus {
  outline: none;
  border-color: #2563eb;
}

thead{
    background-color: #75013F;
    color:white;
}
tbody{
    color:#75013F;
}

.butn:hover {
  background-color: #1e40af;
}

.error {
  color: #dc2626; 
  font-size: 0.875rem;
  margin-top: 4px;
}

.hidden {
  display: none;
}