<div class="welcome">
    <div class="imgside">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/0b/The_Hartford_Financial_Services_Group_logo.svg/1280px-The_Hartford_Financial_Services_Group_logo.svg.png" width="200px" alt="">
    </div>
    <div class="top">
    <h1 class="welmsg">Welcome To Hartford India</h1>
    <h1 class="quote">We Work To Earn Your Trust Every Day</h1>
    <p class="txt">Showing up for people isn’t just what we do, it’s who we’ve been for over 200 years. And while it looks different every day, we do whatever we can to innovate for our customers, our communities and our employees. Because you put your trust in us.</p>
    </div>
</div>